themes {
    gruvbox-dark {
        text_unselected {
            base 235 219 178
            background 40 40 40
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        text_selected {
            base 251 241 199
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        ribbon_selected {
            base 40 40 40
            background 184 187 38
            emphasis_0 251 73 52
            emphasis_1 131 165 152
            emphasis_2 211 134 155
            emphasis_3 29 32 33
        }
        ribbon_unselected {
            base 168 153 132
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 102 92 84
            emphasis_2 131 165 152
            emphasis_3 211 134 155
        }
        table_title {
            base 184 187 38
            background 80 73 69
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        table_cell_selected {
            base 251 241 199
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        table_cell_unselected {
            base 235 219 178
            background 40 40 40
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        list_selected {
            base 251 241 199
            background 60 56 54
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        list_unselected {
            base 235 219 178
            background 40 40 40
            emphasis_0 254 128 25
            emphasis_1 142 192 124
            emphasis_2 184 187 38
            emphasis_3 211 134 155
        }
        frame_selected {
            base 184 187 38
            background 40 40 40
            emphasis_0 254 128 25
            emphasis_1 250 189 47
            emphasis_2 142 192 124
            emphasis_3 0 0 0
        }
        frame_unselected {
            base 102 92 84
            background 40 40 40
            emphasis_0 251 73 52
            emphasis_1 254 128 25
            emphasis_2 142 192 124
            emphasis_3 211 134 155
        }
        frame_highlight {
            base 254 128 25
            background 40 40 40
            emphasis_0 211 134 155
            emphasis_1 254 128 25
            emphasis_2 142 192 124
            emphasis_3 131 165 152
        }
        exit_code_success {
            base 184 187 38
            background 40 40 40
            emphasis_0 142 192 124
            emphasis_1 40 40 40
            emphasis_2 211 134 155
            emphasis_3 131 165 152
        }
        exit_code_error {
            base 251 73 52
            background 40 40 40
            emphasis_0 254 128 25
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 211 134 155
            player_2 131 165 152
            player_3 142 192 124
            player_4 254 128 25
            player_5 184 187 38
            player_6 168 153 132
            player_7 251 73 52
            player_8 250 189 47
            player_9 0 0 0
            player_10 0 0 0
        }
    }
}
